1. Write a python program to find the largest of 3 numbers.

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if num1 > num2 and num1 > num3:
  print("The largest number is", num1)
elif num2 > num1 and num2 > num3:
  print("The largest number is", num2)
else:
  print("The largest number is", num3)

Enter first number: 99
Enter second number: 0000
Enter third number: 4599987
The largest number is 4599987

2. Write a python program to find the numbers divisible by 3 and 7 from 100 to 800.

In [ ]:
for num in range(100, 801):
  if num % 3 == 0 and num % 7 == 0:
    print(num)

105
126
147
168
189
210
231
252
273
294
315
336
357
378
399
420
441
462
483
504
525
546
567
588
609
630
651
672
693
714
735
756
777
798

In [ ]:
num = 100
while num <= 800:
  if num % 3 == 0 and num % 7 == 0:
    print(num)
  num += 1

105
126
147
168
189
210
231
252
273
294
315
336
357
378
399
420
441
462
483
504
525
546
567
588
609
630
651
672
693
714
735
756
777
798

3. Write a python program to find the count of numbers divisible by 8 from 1 to 1000.

In [42]:
count = 0
for num in range(1, 1001):
  if num % 8 == 0:
    count += 1
print("The count of numbers divisible by 8 is", count)

The count of numbers divisible by 8 is 125

4. Write a Python program to construct the following pattern, using a
nested for loop.
######*
######**
######***
######****
######*****
######****
######***
######**
######*

In [35]:
for i in range(1, 6):
    for j in range(i):
        print('*', end='')
    print('')

for i in range(4, 0, -1):
    for j in range(i):
        print('*', end='')
    print('')

*
**
***
****
*****
****
***
**
*

5. Write a Python program to reverse a list using a for loop.

Sample input: 10,40,30,70

Sample output: 70,30,40,10

In [36]:
# Sample input
input_list = [10, 40, 30, 70]

# Initialize an empty list to store the reversed list
reversed_list = []

# Iterate over the input list in reverse order
for element in input_list[::-1]:
  # Append each element to the reversed list
  reversed_list.append(element)

# Output the reversed list
print(reversed_list)  # Output: [70, 30, 40, 10]

[70, 30, 40, 10]

6. Write a python program to print the multiplication table of 1-10.

In [37]:
# 6. Error 1

# Print the header row
print("  x 1  2  3  4  5  6  7  8  9  10")
print("----------------------------------")

# Iterate over the numbers in the table (1 to 10)
for i in range(1, 11):
  # Print the number being multiplied
  print(f"{i} | ", end='')

  # Iterate over the multiples of the number (1 to 10)
  for j in range(1, 11):
    # Print the product of the number and the multiple
    print(f"{i * j:2} ", end='')

  # Move to the next line after all the multiples have been printed
  print('')

  x 1  2  3  4  5  6  7  8  9  10
----------------------------------
1 |  1  2  3  4  5  6  7  8  9 10
2 |  2  4  6  8 10 12 14 16 18 20
3 |  3  6  9 12 15 18 21 24 27 30
4 |  4  8 12 16 20 24 28 32 36 40
5 |  5 10 15 20 25 30 35 40 45 50
6 |  6 12 18 24 30 36 42 48 54 60
7 |  7 14 21 28 35 42 49 56 63 70
8 |  8 16 24 32 40 48 56 64 72 80
9 |  9 18 27 36 45 54 63 72 81 90
10 | 10 20 30 40 50 60 70 80 90 100

In [38]:
# 6. Error 2

# Print the header row
print("  x  1  2  3  4  5  6  7  8  9  10")
print("-------------------------------")

# Iterate over the numbers in the table (1 to 10)
for i in range(1, 11):
  # Print the number being multiplied
  print(f"{i} | ", end='')

  # Iterate over the multiples of the number (1 to 10)
  for j in range(1, 11):
    # Print the product of the number and the multiple, using a fixed width of 3 and right alignment
    print(f"{i * j:>3} ", end='')

  # Move to the next line after all the multiples have been printed
  print('')

  x  1  2  3  4  5  6  7  8  9  10
-------------------------------
1 |   1   2   3   4   5   6   7   8   9  10
2 |   2   4   6   8  10  12  14  16  18  20
3 |   3   6   9  12  15  18  21  24  27  30
4 |   4   8  12  16  20  24  28  32  36  40
5 |   5  10  15  20  25  30  35  40  45  50
6 |   6  12  18  24  30  36  42  48  54  60
7 |   7  14  21  28  35  42  49  56  63  70
8 |   8  16  24  32  40  48  56  64  72  80
9 |   9  18  27  36  45  54  63  72  81  90
10 |  10  20  30  40  50  60  70  80  90 100

In [39]:
# 6. Error 3

# Print the header row
print(" x |  1  2  3  4  5  6  7  8  9  10")
print("---------------------------------------------")

# Iterate over the numbers in the table (1 to 10)
for i in range(1, 11):
  # Print the number being multiplied, using a fixed width of 2 and right alignment
  print(f"{i:>2} | ", end='')

  # Iterate over the multiples of the number (1 to 10)
  for j in range(1, 11):
    # Print the product of the number and the multiple, using a fixed width of 3 and right alignment
    print(f"{i * j:>3} ", end='')

  # Move to the next line after all the multiples have been printed
  print('')

 x |  1  2  3  4  5  6  7  8  9  10
---------------------------------------------
 1 |   1   2   3   4   5   6   7   8   9  10
 2 |   2   4   6   8  10  12  14  16  18  20
 3 |   3   6   9  12  15  18  21  24  27  30
 4 |   4   8  12  16  20  24  28  32  36  40
 5 |   5  10  15  20  25  30  35  40  45  50
 6 |   6  12  18  24  30  36  42  48  54  60
 7 |   7  14  21  28  35  42  49  56  63  70
 8 |   8  16  24  32  40  48  56  64  72  80
 9 |   9  18  27  36  45  54  63  72  81  90
10 |  10  20  30  40  50  60  70  80  90 100

In [40]:
# 6. Final Output

# Print the header row, using a fixed width of 3 and right alignment for each column
print(" x |", end=' ')
for i in range(1, 11):
  print(f"{i:>3}", end=' ')
print('')
print("---------------------------------------------")

# Iterate over the numbers in the table (1 to 10)
for i in range(1, 11):
  # Print the number being multiplied, using a fixed width of 2 and right alignment
  print(f"{i:>2} |", end=' ')

  # Iterate over the multiples of the number (1 to 10)
  for j in range(1, 11):
    # Print the product of the number and the multiple, using a fixed width of 3 and right alignment
    print(f"{i * j:>3}", end=' ')

  # Move to the next line after all the multiples have been printed
  print('')

 x |   1   2   3   4   5   6   7   8   9  10
---------------------------------------------
 1 |   1   2   3   4   5   6   7   8   9  10
 2 |   2   4   6   8  10  12  14  16  18  20
 3 |   3   6   9  12  15  18  21  24  27  30
 4 |   4   8  12  16  20  24  28  32  36  40
 5 |   5  10  15  20  25  30  35  40  45  50
 6 |   6  12  18  24  30  36  42  48  54  60
 7 |   7  14  21  28  35  42  49  56  63  70
 8 |   8  16  24  32  40  48  56  64  72  80
 9 |   9  18  27  36  45  54  63  72  81  90
10 |  10  20  30  40  50  60  70  80  90 100

7. Write a python program to find the sum of integers less than 25 using while loop.

In [41]:
# Initialize a variable to keep track of the sum
sum = 0

# Initialize a variable to keep track of the current integer
current_integer = 1

# Use a while loop to iterate through all integers less than 25
while current_integer < 25:
  # Add the current integer to the sum
  sum += current_integer

  # Increment the current integer by 1
  current_integer += 1

# Print the sum of all integers less than 25
print(sum)

300

8. Write a python program to print the even numbers in a list of numbers.

In [43]:
# Define the list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Iterate over the numbers in the list
for number in numbers:
  # If the number is even, print it
  if number % 2 == 0:
    print(number)

2
4
6
8
10

9. Write a python program to find the sum of elements in a number list.

In [12]:
# Define the list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Initialize the sum to 0
sum = 0

# Iterate over the numbers in the list
for number in numbers:
  # Add the current number to the sum
  sum += number

# Print the sum
print(sum)

55

10. Write a Python program to check whether a number is prime or not.

In [1]:
import math

def is_prime(n: int) -> bool:
    if n < 2:
        return False
    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            return False
    return True

# Test the function
print(is_prime(2))  # True
print(is_prime(3))  # True
print(is_prime(4))  # False
print(is_prime(5))  # True
print(is_prime(6))  # False

True
True
False
True
False

In [13]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

num = int(input("Enter a number: "))

if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter a number: 9
9 is not a prime number.